#### 2.4

In [5]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['Pop/km'] = countries_df['population'] * 1000000 / countries_df['square']

round(countries_df['Pop/km'].mean(), 2)

84.93

In [12]:
melb_data = pd.read_csv('/Users/macbook/Documents/GitHub/SF_Petrov/PY_11_Базовые_приемы_Pandas/data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.drop(['index', 'Coordinates'], axis=1, inplace=True)
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

### 3.3

In [13]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
display(weekend_count)

12822

### 3.4 - 3.5

In [23]:
df = pd.read_csv('/Users/macbook/Documents/GitHub/SF_Petrov/PY_11_Базовые_приемы_Pandas/data/raw.githubusercontent.com_justmarkham_pandas-videos_master_data_ufo.csv')
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [27]:
df['Time'] = pd.to_datetime(df.Time)
years = df['Time'].dt.year
print(years.mode())
df.head()

0    1999
Name: Time, dtype: int32

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [30]:
df['Date'] = df['Time'].dt.date
print(df[df['State'] == 'NV']['Date'].diff().dt.days.mean())

68.92932862190813